<?xml version="1.0" encoding="UTF-8"?>
<web-app >
    <display-name>Ripper Web Application</display-name>
    <servlet>
            <servlet-name>ripper-mvc</servlet-name>
            <servlet-class>com.ripper.mvcframework.servlet.RipperDispatcherServlet</servlet-class>
            <init-param>
                <param-name>contextConfigLocation</param-name>
                <param-value>application.properties</param-value>
            </init-param>
            <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
            <servlet-name>ripper-mvc</servlet-name>
            <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>